@page
@model MusicService.Pages.Admin.Song.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="bg-gradient-to-tr from-teal-300 to-cyan-400 h-full">
<p class="p-3">
    <a class="rounded-md bg-green-300 text-xl" asp-page="Create">Create New</a>
</p>
<div class="w-2/3 mx-auto">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Song Name
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Artist
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
              @foreach (var item in Model.Song) {
              <tr class="bg-gray-100 border-b">
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                @Html.DisplayFor(modelItem => item.Name)
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
               @String.Join(",", item.Artists)
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                  <a asp-page="/Song" asp-route-id="@item.ID">Listen</a> |
                  <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>